{% extends 'map/base.html' %}

{% block content %}
<!--JASON: These div styles split the page vertically-->
<div style="float:right; width:35%;">
    <h2>Input Call</h2>
    <h5> Please enter the address in need of emergency medical services (EMS) below.</h5>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default" name="call_submit">Submit</button>
    </form>

    <!-- Melanie added on 11/24 -->
    <h2>Activate Ambulance</h2>
    <h5> Reactivate an ambulance by selecting an inactive ambulance from the drop down below.</h5>
    
    <!-- priya input legend-->
    <div class="legend">
    {% load static %}

    <img src="{% static "blue.png" %}"" width="30" height="30" align="left"/> 
    <h5>Active Ambulance</h5>
    </div>

    <div class="legend">
    <img src="{% static "grey.png" %}"" width="30" height="30" align="left"/> 
    <h5> Inactive Ambulance </h5>

    </div>
    <!-- priya end legend-->
  
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form2.as_p }}
        <button type="submit" class="save btn btn-default" name="amb_submit">Submit</button>
    </form>

    <!--JASON: Creating an event table, then iteratively filling it with elements
    from the recent_events_query from view.py-->
    <h2>Recent Events</h2>
    <h5> See the live feed of incoming EMS events and ambulance dispatching below. </h5>
    <table >
        <tr>
            <th>Time</th>
            <th>Event</th>
        </tr>
        {% if recent_events_query %}
          {% for item in recent_events_query %}
            <tr>
              <td>
                <font size = "1">{{ item.time|date:'m/d/y H:i'}} PDT </font>
              </td>
              <!-- <td>Unit {{ item.ems_id }} dispatched to ({{ items.LAT }},{{ items.LONG }})</td> -->
			        <td><font size = "1">{{ item.event_desc }} </font></td>

            </tr>
          {% endfor %}
        {% else %}
          Cannot Populate Table: No events found in query.
        {% endif %}

    </table>
</div>
<div style="float:left; width:60%;">
    	{% block map %}
    	{% endblock %}

</div>
{% endblock %}
